.forum-latest{
    &-item{
        border: solid 1px $col1;
        padding: 0.8em;
        background: $white;
        overflow:hidden;
        h4{
            font-size: 0.9em;
            margin:0;
            font-weight: normal;
            color: $col1-900;
            text-transform: uppercase;
            word-break: break-word;
        }
        .forum-latest-title{
            font-size: 1.2em;
            margin: 0.5em 0;
            word-break: break-word;

        }

        .forum-latest-text{
            color: $gray-900;
        }
        
        min-height: 100%;

        
    }

    &-link{
        &:hover{
            color: $red;
        }

        &:visited{
            color: $gray-500;
        }
    }

    &-text{
        text-overflow: ellipsis;
        overflow:hidden;
        max-height: 4.5em;
    }

    .col-12{
        padding-bottom: 1.8em;
    }

}

.dcf-topic-view{

    .bg-light{
        // background-color: $gray-100 !important;
    }
}