@mixin time-line-center($break-point, $item-padding, $marker-width, $marker-border-color, $tl-marker-border-hover-color, $marker-border-width, $line-width) {
    @media screen and (min-width: #{$break-point}) {
        
        .oc-content {
            width: 50%;
            padding:  $item-padding 0;

            .timeline-image {
                width: $marker-width;

                .img-circle {
                    border: solid $marker-border-color $marker-border-width;
                    transition: border-color 0.5s;
                }
            }

            &:hover{
                .timeline-image {
                    .img-circle{
                        border-color:  $tl-marker-border-hover-color;
                    }
                }
            }

            .timeline-panel {
                max-width: calc(95% - #{$marker-width});
            }
        }

        &:nth-child(odd) {
            .oc-content {
                left: calc(#{$marker-width} / 2 - #{$line-width} / 2);

                .timeline-image {
                    float: right;
                }

                .timeline-panel {
                    float: right;
                    padding: 0 5% 0 0;
                    text-align: right;
                }
            }
        }

        &:nth-child(even) {
            .oc-content {
                left: calc(50% - #{$marker-width} / 2 - #{$line-width} / 2);

                .timeline-image {
                    float: left;
                }

                .timeline-panel {
                    float: left;
                    padding: 0 0 0 5%;
                }
            }
        }
    }
}