@import "../scss/_mixins.scss";

$medium-break: 768px;
$large-break: 992px;

$tl-main-line-color: $gray-200;
$tl-main-line-width: 4px;

$tl-item-padding: 1em;
$tl-item-padding-md: 1.5em;
$tl-item-padding-lg: 2em;

$tl-marker-width: 100px;
$tl-marker-width-md: 125px;
$tl-marker-width-lg: 200px;
$tl-marker-border-width: 3px;
$tl-marker-border-width-md: 5px;
$tl-marker-border-width-lg: 7px;
$tl-marker-border-color: $col1-300;
$tl-marker-border-hover-color: $col1-600;

.oc-timeline {
  .timeline,
  .item {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .item {
    position: relative;
    
    .timeline-heading {
      .oc-title {
        font-size: 1.3em;
        margin: 1.5em 0 0.3em;
        font-weight: bold;
        text-transform: uppercase;
      }
      .oc-sub-title {
        font-size: 1.1em;
        margin: 0;
      }
      :last-child {
        margin-bottom: 1em;
      }
    }


    .timeline-image {
      width: $tl-marker-width;
      float: left;
      .img-circle {
        border-radius: 50%;
        border: solid $tl-marker-border-color $tl-marker-border-width;
      }
    }

    
    &:hover{
      .timeline-image {
        .img-circle{
          border-color:  $tl-marker-border-hover-color;
        }
      }
     
    }

    .timeline-panel {
      float: left;
      max-width: calc(95% - #{$tl-marker-width});
      padding: 0 0 0 5%;
    }
    .oc-content{
      position: relative;
      z-index: 1;
      margin: $tl-item-padding 0;

    }
    .line {
      position: absolute;
      left: calc($tl-marker-width / 2);
      top: $tl-marker-width;
      height: 100%;
      background: $tl-main-line-color;
      width: $tl-main-line-width;
      z-index: 0;
      @media screen and (min-width: #{$medium-break}) {
        right: 50%;
        left: auto;
      }
    }

    &:last-child {
      .line {
        display: none;
      }
    }

    @include time-line-center($medium-break, $tl-item-padding-md, $tl-marker-width-md, $tl-marker-border-color, $tl-marker-border-hover-color, $tl-marker-border-width-md, $tl-main-line-width);
    @include time-line-center($large-break, $tl-item-padding-lg, $tl-marker-width-lg, $tl-marker-border-color, $tl-marker-border-hover-color, $tl-marker-border-width-lg, $tl-main-line-width);

    footer {
      padding-top: 1em;
      .fa {
        margin-right: 0.5em;
        margin-left: -0.2em;
      }
    }
  }
}
