/* Main Navigation */
header {
  a[id*="dnnLOGO"] {
    display: block;
    padding: 1rem 0;

    img {
      height: 45px;
      max-height: 100%;
      width: auto;
    }

    @include mq-max-width(400) {
      img {
        height: 30px;
      }
    }
  }
}

/* User Controls */
.user-controls ul {
  display:inline-flex;
  margin:0;
  padding:5px;
  
  li {
    display:inline-flex;
    align-items:center;
    
    + li {
      margin-left:1rem;
    }
  
    a {
      padding:.375rem .375rem;
      line-height:1.5;
      border:1px solid transparent;
      display:inline-flex;
      color:$secondary-color;
      
      &:hover, &:focus {
        color:$tertiary-color;
      }
    }
    
    input {
      padding:.375rem .375rem;
      border:1px solid $tertiary-color;
      border-radius:.25rem;
    }
    
    .dnnSearchBoxClearText {
      top:0;
      margin:0;
      height:100%;
    }
  }
}
@include mq-max-width(800) {
  .user-controls {
    input {
      width:100px;
    }
  }
}


/* Desktop Styling */

#nav-desktop {

	&,
	ul {
		display: flex;
		list-style: none;
		margin: 0;
		padding: 0;
	}

	li {
		display: flex;
	}

	a {
		@include font-size(16);
		color: $light-grey;
		font-weight: 600;
		text-decoration: none;
		// text-transform: uppercase;

		&:hover {
			color: white;
		}
	}

	// First Level
	>li {
		position: relative;

		&:hover {
			>ul {
				display: flex;
			}
		}

		>a {
			display: flex;
			align-items: flex-end;
			padding: 1rem 1.5rem;
		}

		// Below First Level
		ul {
			flex-direction: column;
		}

		li {
			&.selected>a {
				background: $primary-color;
				color: white;
			}

			&:not(.selected)>a:hover {
				background: $tertiary-color;
			}
		}

		// Second Level
		>ul {
			display: none;
			position: absolute;
			flex-direction: column;
			top: 100%;
			min-width: 250px;
			max-width: 100%;
			background: $secondary-color;
			box-shadow: 1px 1px 5px 1px rgba(black, 0.2);

			// Below Second Level
			a {
				padding: 0.75rem 1.25rem;
			}

			li {
				flex-direction: column;

				&:not(:first-child) {
					// border-top: 1px solid $dark-blue;
				}

				// Below Third Level
				>ul {

					// border-top: 1px solid $dark-blue;
					a {
						@include font-size(14);
						font-weight: 700;
						padding: .5rem .75rem .5rem 3rem;
					}
				}
			}
		}
	}
}

/* Hamburger Styling */

$nav-height: 110px;
$nav-width: 320px;

#body-overlay {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	background: rgba(black, .6);
}

.hamburger {
	margin-left: auto;
	color: white;
	cursor: pointer;
}

.nav-is-toggled {
	.nav-drill {
		transform: translateX(0);
	}
}

.nav {
	&-drill {
		display: flex;
		position: fixed;
		z-index: 100;
		top: 0;
		right: 0;
		width: $nav-width;
		max-width: calc(100% - 80px);
		height: calc(100vh - $nav-height);
		background-color: $secondary-color;
		overflow-y: auto;
		overflow-x: hidden;
		-webkit-overflow-scrolling: touch;
		transition: 0.45s;
		margin-top: $nav-height;
		transform: translateX(100%);
	
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
		}
	}

	&-items {
		flex: 0 0 100%;
	}

	&-item {
		display: flex;
		justify-content: space-between;

		// &:not(:last-child) {
		// 	border-bottom: solid 1px $dark-blue;
		// }

		.nav-link {
			background-color: $secondary-color;
			color: $light-grey;
		}

		&.selected {
			background-color: $primary-color;

			>.nav-link {
				background-color: transparent;
				color: white;
			}
		}

		.nav-back-link {
			display: flex;
			align-items: center;
			background: $tertiary-color;
			color: white;

			i {
				font-size: 1.125rem;
			}
		}
	}

	&-link {
		display: block;
		flex: 1 1 auto;
		padding: 0.875rem 1rem;
		font-size: 1rem;
		line-height: 1.5em;
		font-weight: 500;

		.link-description {
			font-size: .875rem;
			font-weight: 400;
		}
	}

	&-expand {
		&-content {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			transform: translateX(100%);
			background-color: $secondary-color;
			transition: 0.3s;
			visibility: hidden;
		}

		&-link {
			flex-grow: 0;
			font-size: 1.125rem;
			display: flex;
			align-items: center;
		}

		&.active {
			>.nav-expand-content {
				transform: translateX(0);
				visibility: visible;
			}
		}
	}
}