.bannerpane {
  /*background:$light-grey;
  background:linear-gradient(180deg, darken($light-grey, 0%) 0%, $light-grey 50%, lighten($light-grey, 100%) 100%);
  color:$font-color;*/
  
  div[class*='col-'] {
    padding-top:6rem;
    padding-bottom:6rem;
  }
}

.bannerTitle {
  font-weight: bold;
  font-size: 5em;
  text-shadow: 0 0 5px $secondary-color;
}

.bannerSubTitle {
  font-weight: bold;
  font-size: 3em;
  text-shadow: 0 0 5px $secondary-color;
}

#dnn_BannerPane a {
  color: #fff;
  font-weight: bold;
}

#dnn_BannerPane a:hover {
  color: $light-grey;
  font-weight: bold;
}
