.bannerpane {
  /*background:$light-grey;
  background:linear-gradient(180deg, darken($light-grey, 0%) 0%, $light-grey 50%, lighten($light-grey, 100%) 100%);
  color:$font-color;*/
  
  div[class*='col-'] {
    padding-top:6rem;
    padding-bottom:6rem;
  }
}