.DnnModule-Messaging-Details .smListings .ListCol-1 {
    width: 10%;
}
.DnnModule-Messaging-Details .smListings .ListCol-2 {
    width: 65%;
}

.DnnModule-Messaging-Details textarea#replyMessage{
    height:15em;
    width:100%;
}