<div class="blog-main-content">
  <span class="removeselection"><a href="[query:referrer]" title="[resx:Back]"><i
        class="fa fa-arrow-up icon16"></i></a></span>
  <article id="post-[post:contentitemid]" class="bbs-article">
    <header>
      <div class="supertitle">[subtemplate|Cat.html|categories]</div>
      <h1>[Post:localizedtitle]</h1>
    </header>
    <div class="row">
      <div class="col-md-8">
        <div class="blog-image">
          [subtemplate|Postbanner.html|Post:hasimage]
         
        </div>
        <div class="clearfix"><strong>[resx:WrittenBy]</strong> [post:DisplayName]
          <div data-time="[post:PublishedOnDate|yyyy-MM-dd HH:mm:ss]" class="momentabs">
            [post:PublishedOnDate|yyyy-MM-dd]</div>
        </div>
        <hr />
        [Post:localizedcontent]
      </div>
      <div class="col-md-4 dnnc-blog-metadata">
        <div class="row">
          <div class="col-md-12">
            <h5>[resx:PublishedOn]</h5>
            <div data-time="[post:PublishedOnDate|yyyy-MM-dd HH:mm:ss]" class="momentabs">
              [post:PublishedOnDate|yyyy-MM-dd]</div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h5>[resx:Share]</h5>
		        <div class="blog-share">
              <!-- Paths hard coded because module has no [TOKEN] for Skin Path -->
              <a class="button_bluesky" href="https://bsky.app/intent/compose?text=[post:localizedtitle]: [post:link]" target="_blank" rel="nofollow" title="Share on BlueSky"><img class="social-icon icon-bluesky" src="/Portals/_default/Skins/DNN-Community-2024/assets/icons/bluesky.svg" alt="BlueSky Logo"><span class="d-none">Share to BlueSky</span></a>
              <a class="button_facebook" href="https://www.facebook.com/sharer/sharer.php?u=[post:link]" target="_blank" rel="nofollow" title="Share on Facebook"><img class="social-icon icon-bluesky" src="/Portals/_default/Skins/DNN-Community-2024/assets/icons/facebook.svg" alt="Facebook Logo"><span class="d-none">Share to Facebook</span></a>
              <a class="button_linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url=[post:link]" target="_blank" rel="nofollow" title="Share on  LinkedIn"><img class="social-icon icon-bluesky" src="/Portals/_default/Skins/DNN-Community-2024/assets/icons/linkedin.svg" alt="LinkedIn Logo"><span class="d-none">Share to LinkedIn</span></a>
              <a class="button_twitter" href="https://mastodonshare.com/?text=[post:localizedtitle]]&url=[post:link]" title="Share to Mastodon"><img class="social-icon icon-bluesky" src="/Portals/_default/Skins/DNN-Community-2024/assets/icons/mastodon.svg" alt="Mastodon Logo"><span class="d-none">Share to Mastodon</span></a>
              <a class="button_twitter" href="https://twitter.com/share?text=[post:localizedtitle]&url=[post:link]" title="Share on X"><img class="social-icon icon-bluesky" src="/Portals/_default/Skins/DNN-Community-2024/assets/icons/twitter-x.svg" alt="X Logo"><span class="d-none">Share to X</span></a>
              <a class="button_email" href="mailto:enter-email-adress?subject=[post:localizedtitle]&body=[post:link]" target="_blank" rel="nofollow" title="Share via Email"><img class="social-icon icon-bluesky" src="/Portals/_default/Skins/DNN-Community-2024/assets/icons/envelope.svg" alt="Enveloppe"><span class="d-none">Share via Email</span></a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h5>[resx:WrittenBy]</h5>
            <div class="row">
              <div class="col-md-12">
                <img src="/dnnimagehandler.ashx?mode=profilepic&amp;userid=[Author:UserId]&amp;w=120" class="img-fluid rounded-circle">
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <a href="[urls:module|true]author=[post:CreatedByUserID]">[post:DisplayName]</a>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                [Author:Biography]
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h5>[resx:Tags]</h5>
            [subtemplate|PostTag.html|categories]
            [subtemplate|PostTag.html|keywords]
          </div>
        </div>
        [if|1][Post:published][=]False[/if]
        <div class="row">
          <div class="col-md-12">
            <span class="unpublished bg-danger">[resx:Unpublished]</span>
          </div>
        </div>
        [endif|1]
      </div>
    </div>
  </article>
</div>