// Overrule default.css

body { // lines 113-120
    //color: #444;
    //font-size: 12px;
    line-height: normal;
    font-family: inherit;
    // -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
    // -webkit-text-size-adjust: 100%;
}

// Styles default.css 
h1,h2,h3,h4,h5,h6 // lines 122-177
 {
    color: inherit;
    font-family: inherit;
    letter-spacing: inherit;
    line-height: initial;
    font-size: initial;
}


.Head { // Lines 179-183
    display: inline-block;
    margin-bottom: 1em;
}

// paragraph default.css line 198 - 200
p {
    margin: 0 0 1em 0;
}

.Normal, .NormalDisabled, .NormalDeleted{ // Lines 218-234
    line-height: initial;
    font-size: initial;

    color: inherit;
    
}

.NormalBold { // lines 247-250
    color: inherit;
}

blockquote, blockquote p { // line 264-269
    font-size: inherit;
    line-height: normal;
    color: inherit;
}

blockquote { // Line 271-275
    margin: 0 0 1.2em;
    padding: 0.5em 1.2em 0 1.2emx;
    // border-left: 1px solid #ddd;
}


// Lines 291-297
hr {
    //clear: both;
    margin: 1em 0 1em;
    //height: 0;
    //border: solid #ddd;
    //border-width: 1px 0 0;
}


// lines 302-316 should be removed
// a:visited {
//     color: unset;
// }

// Lines 337-364
ul, ol {
    margin-bottom: 1em;
    margin-left: 1em;
}


/* Nested Styles */
    ul ul, ul ol,
    ol ol, ol ul {
        margin-left: 1em;
        margin-bottom: 0;
    }


li p {
    line-height: 1em;
}


// Lines 591-624
.dnnFormItem input[type="text"],
.dnnFormItem select,
.dnnFormItem textarea,
.dnnFormItem input[type="email"],
.dnnFormItem input[type="search"],
.dnnFormItem input[type="password"] {

    margin-bottom: 2em;
    padding: 0.8em;
    // background: #ffffff;
    // border: 1px solid #c9c9c9;
    // -webkit-border-radius: 3px;
    // border-radius: 3px;
    // -webkit-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.8), inset 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
    // box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.8), inset 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
    // color: #333;
    font-size: 0.9rem;
}

// Lines 639 - 656
/* Required Fields */
.required label:after,
legend.required:after {
   
    font-family: inherit;
    font-size: 0.8em;
}


// Line 1158
.dnnDragdropTip {
    font-size: 0.8em;
}

// Line 1172
span.dnnFormRequired:after,
div.dnnFormItem.dnnFormRequired > div.dnnLabel span:after {
font-size: 1rem;
}

// Line 1250
.dnnTooltip .dnnFormHelpContent,
.dnnHelperTip .dnnFormHelpContent {
   
    font-size: 0.8rem;
  
}

// Line 1332
/* Error tooltip */
.dnnFormItem span.dnnFormMessage.dnnFormError {
   
    font-size: 0.8rem;
}

// Line 1608

div.dnnTagsInput span.tag {
    font-size: 0.8rem;
}

// Line 1639 - 1651
div.dnnTagsInput > div > input,
div.dnnTagsInput > div > input:focus,
// Lines 1756 - 1769
div.dnnTagsInput > div > input.dnnTagsInvalid 
{
    font-family:inherit;
}

// Line 1826

.dnnFormSectionHead span {
    font-size: 1rem;
}

// Line 2313
.dnnFormPopup .ui-dialog-titlebar {

    padding: 0 0 1em 0;
    font-size: 1rem;

}

