// Colors
$light-grey: #EBE4E4 !default;
$grey:#7d7d7d !default;
$dark-grey: #333333 !default;
$dark-blue: #012b4c !default;

$primary-color: #00A7EA !default;
$secondary-color: #4C282A !default;
$tertiary-color: #7d7d7d !default;

$border-color: #bbb !default;
$link-color: $primary-color !default;
$font-color: #000000 !default;
