.oc-icon-blocks {
	--blue: #1ea2db;
	--blue-light: #c2e0ed;
	--blue-lighter: #f2fbff;

	--red: #ef3d43;
	--red-light: #ebd3d3;
	--red-lighter: #faf5f5;

	--block-bg: #f9f9f9;
	--block-bg-2: #f9f9f9;
	--block-border-col: #eee;
	--block-border-col-hover: var(--blue-light);
	--block-border-width: 5px;
	--block-border-radius: 0;

	--icon-border: 5px;
	--icon-border-col: var(--blue-light);

	--text-color: #222;

	margin: 2em 0;

	.oc-item-editbar {
		border: dotted 1px $gray-700;
		text-align: right;
		background: $white;
	}

	.item {
		margin-bottom: 2em;

		.item-content {
			min-height: 100%;
			background: $white;
			display: flex;
			flex-direction: column;
			padding: calc(1.5em + 1vw) 3em;
			border-radius: var(--block-border-radius);
			border: solid var(--block-border-width) var(--block-border-col);

			&:hover {
				background: #fff;
				border-color: $red;

				.text,
				.title {
					color: $col1;
				}
			}

			.icon {
				margin-bottom: 1.5rem;

				i {
					font-size: 2.2rem;
					line-height: calc(5rem - 4px);
					width: 5rem;
					text-align: center;
					background-color: white;
					border: solid 3px currentColor;
					border-radius: 50%;
					color: $red;
					transition: color 0.5s;
				}
			}

			.text-link {
				flex-grow: 1;

				&:hover {
					.icon i {
						background-color: $col1;
						color: $white;
						border-color: $col1;
						transition: all 0.5s;
					}
				}
			}

			.title {
				font-size: 1.4em;
				margin-bottom: 0.8em;
				color: $col1-600;
			}

			.text {
				color: $col1-700;
			}

			.btn {
				color: $white;

				&:after {
					content: ' »';
					font-size: 1.5em;
					line-height: 1em;
				}
			}
		}

		&:nth-child(odd) {
			.item-content {
				.icon i {
					color: var(--blue);
				}
			}
		}
	}
}
